# Node.js dependencies
node_modules/

# dotenv environment variables file
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
